---
import Header from "@layouts/Header.astro";
import Head from "@layouts/Head.astro";
import Footer from "@layouts/Footer.astro";

interface Props {
  title: string;
  titleTemplate: string;
  description: string;
  ogType: string;
  imgURL: string;
  siteURL: string;
}

const { title, titleTemplate, description, ogType, imgURL, siteURL } =
  Astro.props;
---

<!doctype html>
<html lang="ja">
  <Head
    title={title}
    titleTemplate={titleTemplate}
    description={description}
    ogType={ogType}
    imgURL={imgURL}
    siteURL={siteURL}
  />
  <body class="font-KleeOneSemiBold">
    <Header />
    <slot />
    <Footer />
    <style is:global>
      :root {
        --foreground-rgb: 0, 0, 0;
        --background-start-rgb: 214, 219, 220;
        --background-end-rgb: 255, 255, 255;
      }

      .tooltip-container:hover .tooltip-content {
        display: block;
      }

      .bg-soil {
        background-image: url("/assets/images/succulent/soil.png");
      }

      .border-plant-gray {
        border-color: rgb(57, 57, 57);
        border-width: 2px;
      }
    </style>
  </body>
</html>
